USE Testesss
GO
/****** Object:  Table [HH].[Lista_Email]    Script Date: 20/03/2023 11:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HH].[Lista_Email](
	[ID] int identity(1,1),
	[Nome] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[HH_Excel] [varchar](50) NULL,
	[Grupo_Carteira] [varchar](50) NULL,
	[ONOFF] [bit] NOT NULL,
	[Cliente] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [HH].[Lista_Email] ([Nome], [Email], [HH_Excel], [Grupo_Carteira], [ONOFF], [Cliente]) VALUES (N'Ana Luisa', N'analuisa.bueno@ppgj.com.br', N'Omni_HORA_HORA', N'Omni', 1, N'OMNI')
INSERT [HH].[Lista_Email] ([Nome], [Email], [HH_Excel], [Grupo_Carteira], [ONOFF], [Cliente]) VALUES (N'Ana Rodrigues', N'ana.rodrigues@ppgj.com.br', N'Omni_HORA_HORA', N'Omni', 1, N'OMNI')
INSERT [HH].[Lista_Email] ([Nome], [Email], [HH_Excel], [Grupo_Carteira], [ONOFF], [Cliente]) VALUES (N'Ana Teresa', N'anateresa.souza@ppgj.com.br', N'Omni_HORA_HORA', N'Omni', 1, N'OMNI')
GO
